<template>
  <div class="flex items-center text-white text-sm font-bold px-4 py-3" role="alert" :class="[backgroundColor]">
    <svg
      v-if="type === 'success'"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>

    <svg
      v-else-if="type === 'warning'"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>

    <svg
      v-else-if="type === 'danger'"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>

    <p>{{ message }}</p>
  </div>
</template>

<script>
export default {
  name: 'Alert',

  props: {
    message: { type: String, required: true },
    type: {
      type: String,
      required: true,
      validator (value) {
        return ['success', 'warning', 'danger'].includes(value)
      }
    }
  },

  computed: {
    backgroundColor () {
      switch (this.type) {
        case 'success': return 'bg-green-500'
        case 'warning': return 'bg-orange-500'
        case 'danger': return 'bg-red-500'
        default: return 'bg-grey-100'
      }
    }
  }
}
</script>

<style scoped>

</style>
