<template>
  <button class="flex place-content-center" :disabled="disabled" type="button" :class="{ 'opacity-25 cursor-not-allowed': disabled || loading, 'transition ease-in-out duration-150': loading }" @click="$emit('onClick', $event)">
    <svg
      v-if="loading"
      class="animate-spin -ml-1 mr-3 h-5 w-5 spinner-color"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      />
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      />
    </svg>

    <span v-else>{{ text }}</span>
  </button>
</template>

<script>
export default {
  name: 'Button',

  props: {
    loading: { type: Boolean, default: false },
    disabled: { type: Boolean, default: false },
    text: { type: String, default: '' }
  }
}
</script>

<style>
  .primary-btn {
    @apply w-full bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded
  }

  .outlined-primary-btn {
    @apply w-full bg-transparent hover:bg-red-600 text-red-600 font-semibold hover:text-white py-2 px-4 border border-red-600 hover:border-transparent rounded
  }

  .primary-btn > svg {
    @apply text-white
  }

  .primary-btn > svg {
    @apply text-red-600
  }
</style>
