<template>
  <div class="pie no-round" :style="styleObject">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Doughnut',

  props: {
    percentage: { type: Number, required: true },
    thickness: { type: String, default: '22px' },
    size: { type: String, default: '150px' },
    color: { type: String, required: true }
  },

  computed: {
    styleObject () {
      return {
        '--percentage': this.percentage,
        '--thickness': this.thickness,
        '--size': this.size,
        '--color': this.color
      }
    }
  }
}
</script>

<style scoped>
.pie {
  width:var(--size);
  aspect-ratio:1/1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}

.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}

.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--color) 98%,#0000) top/var(--thickness) var(--thickness) no-repeat,
    conic-gradient(var(--color) calc(var(--percentage)*1%),#DFDFDF 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--thickness)),#000 calc(100% - var(--thickness)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--thickness)),#000 calc(100% - var(--thickness)));
}

.pie:after {
  inset:calc(50% - var(--thickness)/2);
  background:var(--color);
  transform:rotate(calc(var(--percentage)*3.6deg - 90deg)) translate(calc(var(--size)/2 - 50%));
}

.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}

body {
  background:#ddd;
}
</style>
