<template>
  <div>
    <label v-if="label && type !== 'checkbox'" class="block text-gray-700 text-sm font-bold mb-2" :for="id">
      {{ label }}
    </label>

    <div class="flex flex-row">
      <slot name="prefix" />

      <textarea
        v-if="type === 'textarea'"
        :id="id"
        v-model="inputData"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        :class="{ 'border-red-500': !!errorMsg }"
        :placeholder="placeholder"
      />

      <input
        v-else-if="type !== 'checkbox'"
        :id="id"
        v-model="inputData"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        :class="{ 'border-red-500': !!errorMsg }"
        :placeholder="placeholder"
        :type="type"
      >

      <input
        v-if="type === 'checkbox'"
        :id="id"
        v-model="inputData"
        class="input-check"
        type="checkbox"
        :checked="inputData"
      >
      <label v-if="type === 'checkbox'" class="inline-block text-gray-800" :for="id">
        {{ label }}
      </label>
    </div>

    <span v-if="errorMsg" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
      {{ errorMsg }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'InputField',

  props: {
    label: { type: String, default: '' },
    id: {
      type: String,
      default () {
        return this.label.toLowerCase()
      }
    },
    placeholder: {
      type: String,
      default () {
        return this.label
      }
    },
    value: { default: undefined },
    type: {
      type: String,
      default: 'text',
      validator (value) {
        return ['text', 'email', 'password', 'checkbox', 'textarea', 'number', 'date'].includes(value)
      }
    },
    rules: { type: Array, default: () => [] }
  },

  data () {
    return {
      inputData: this.value,
      errorMsg: '',
      isValid: this.rules.length === 0
    }
  },

  watch: {
    value (val) {
      this.inputData = val
    },

    inputData:
    {
      immediate: true,
      handler (val) {
        this.$emit('input', this.type === 'number' ? parseInt(val) : val)
        this.isValid = this.validate()
      }
    },

    isValid: {
      immediate: true,
      handler (val) {
        this.$emit('valid', val)
      }
    }
  },

  methods: {
    validate () {
      for (let i = 0; i < this.rules.length; i++) {
        const rule = this.rules[i]
        const validationResult = rule(this.inputData)

        if (typeof validationResult === 'string') {
          this.errorMsg = validationResult
          return false
        } else {
          this.errorMsg = ''
        }
      }

      return true
    }
  }
}
</script>

<style scoped>
  .input-check {
    @apply h-4 w-4 border border-gray-300 rounded-sm bg-white focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer
  }
</style>
