<template>
  <div>
    <Alert v-if="errorMsg" class="mb-7" type="danger" :message="errorMsg" />

    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" @keyup.enter="login">
      <input-field v-model="credentials.email" label="Email" type="email" :rules="$rules.basicRules" @valid="validEmail = $event" />

      <input-field
        v-model="credentials.password"
        class="pt-4"
        label="Password"
        type="password"
        :rules="$rules.basicRules"
        @valid="validPassword = $event"
      />

      <Button class="primary-btn mt-6" :disabled="!isFormValid" :loading="loading" text="Login" @onClick="login" />
    </form>
  </div>
</template>

<script>
export default {
  name: 'LoginForm',

  props: {
    value: { type: Object, default: () => ({ email: '', password: '' }) }
  },

  data () {
    return {
      credentials: this.value,

      validEmail: false,
      validPassword: false,

      loading: false,
      errorMsg: ''
    }
  },

  computed: {
    isFormValid () {
      return this.validEmail && this.validPassword
    }
  },

  watch: {
    credentials (val) {
      this.$emit('input', val)
    }
  },

  methods: {
    async login () {
      this.loading = true
      this.errorMsg = ''

      try {
        const { userData } = await this.$axios.$post('/auth/login', this.credentials)

        this.$store.commit('auth/setUser', userData)

        this.$router.replace('/dashboard')
      } catch ({ response }) {
        if (response.status === 401) {
          this.errorMsg = response.data.message
        } else {
          this.errorMsg = 'An undefined error has occured :('
        }
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
