<template>
  <div class="flex flex-col">
    <div v-if="!loading" class="flex flex-row space-x-4 justify-between">
      <Select
        v-model="moods"
        label="Moods"
        multiple
        item-text="name"
        :items="availableMoods"
      />

      <div class="grid grid-cols-5 gap-4">
        <input-field
          v-for="mood in moods"
          :key="mood.id"
          class="w-full"
          :label="`${mood.name} value`"
          :rules="$rules.percentageRules"
          type="number"
          @input="$set(moodValues, mood.id, $event)"
          @valid="$set(validMoods, mood.id, $event)"
        />
      </div>
    </div>

    <svg
      v-else
      class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      />
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'MoodsSelector',

  data () {
    return {
      moods: [],
      availableMoods: [],
      loading: true,
      moodValues: {},
      validMoods: {}
    }
  },

  computed: {
    valuedMoods () {
      return this.moods.map(el => ({ mood: el, value: this.moodValues[el.id] }))
    },

    isValid () {
      return this.valuedMoods.length > 0 && Object.values(this.validMoods).every(el => el)
    }
  },

  watch: {
    valuedMoods (val) {
      this.$emit('input', val)
    },

    isValid (val) {
      this.$emit('valid', val)
    },

    moods (val) {
      const moodIds = val.map(el => el.id)

      Object.keys(this.validMoods)
        .filter(el => !moodIds.includes(el))
        .forEach(el => this.$delete(this.validMoods, el))
    }
  },

  mounted () {
    this.$axios.$get('/moods')
      // eslint-disable-next-line no-return-assign
      .then(response => this.availableMoods = response)
      // eslint-disable-next-line no-return-assign
      .finally(() => this.loading = false)
  }
}
</script>
