<template>
  <div class="flex justify-between">
    <div v-if="moods.nature" class="flex flex-row">
      <doughnut size="100px" thickness="11px" :percentage="moods.nature" color="#8BC53E">
        <img class="w-12" src="https://cdn.weroad.io/common/images/moods/nature.svg" alt="">
      </doughnut>

      <div class="my-auto ml-2">
        <p>Nature and</p><p>adventure</p>

        <p class="font-bold" style="color: #8BC53E">
          {{ moods.nature }}%
        </p>
      </div>
    </div>

    <div v-if="moods.relax" class="flex flex-row">
      <doughnut size="100px" thickness="11px" :percentage="moods.relax" color="#40B0ED">
        <img class="w-12" src="https://cdn.weroad.io/common/images/moods/relax.svg" alt="">
      </doughnut>

      <div class="my-auto ml-2">
        <p>Relax</p>

        <p class="font-bold" style="color: #40B0ED">
          {{ moods.relax }}%
        </p>
      </div>
    </div>

    <div v-if="moods.history" class="flex flex-row">
      <doughnut size="100px" thickness="11px" :percentage="moods.history" color="#FABF3A">
        <img class="w-12" src="https://cdn.weroad.io/common/images/moods/history.svg" alt="">
      </doughnut>

      <div class="my-auto ml-2">
        <p>Monuments</p><p> and history</p>

        <p class="font-bold" style="color: #FABF3A">
          {{ moods.history }}%
        </p>
      </div>
    </div>

    <div v-if="moods.culture" class="flex flex-row">
      <doughnut size="100px" thickness="11px" :percentage="moods.culture" color="#F48D38">
        <img class="w-12" src="https://cdn.weroad.io/common/images/moods/culture.svg" alt="">
      </doughnut>

      <div class="my-auto ml-2">
        <p>City and</p><p> culture</p>

        <p class="font-bold" style="color: #F48D38">
          {{ moods.culture }}%
        </p>
      </div>
    </div>

    <div v-if="moods.party" class="flex flex-row">
      <doughnut size="100px" thickness="11px" :percentage="moods.party" color="#8565F9">
        <img class="w-12" src="https://cdn.weroad.io/common/images/moods/party.svg" alt="">
      </doughnut>

      <div class="my-auto ml-2">
        <p>Party and</p><p> nightlife</p>

        <p class="font-bold" style="color: #8565F9">
          {{ moods.party }}%
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MoodsViewer',

  props: {
    moods: { type: Object, required: true }
  },

  data () {
    return {

    }
  }
}
</script>
