<template>
  <nav class="bg-white shadow-lg">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <Logo />
          </div>
        </div>

        <div v-if="user" class="hidden w-full md:block md:w-auto">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
            <li>
              <NuxtLink to="/dashboard/travels" exact>
                Travels
              </NuxtLink>
            </li>

            <li>
              <NuxtLink to="/dashboard/tours" exact>
                Tours
              </NuxtLink>
            </li>
          </ul>
        </div>

        <div v-if="user" class="flex space-x-4">
          <div>
            <span class="font-bold">Hi, </span>
            <span class="italic">{{ user.email }}</span>
          </div>
          <button type="button" @click="logout">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="1"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Navbar',

  computed: {
    ...mapGetters({
      user: 'auth/getUser'
    })
  },

  methods: {
    async logout () {
      const didConfirm = confirm('Are you sure to logout?')

      if (didConfirm) {
        try {
          await this.$axios.$post('/auth/logout')

          this.$store.commit('auth/setUser', null)
          this.$router.replace('/login')
        } catch (e) {
          this.$nuxt.error(e)
        }
      }
    }
  }
}
</script>

<style scoped>
.nuxt-link-exact-active {
  @apply block py-2 pr-4 pl-3 text-white bg-red-600 rounded md:bg-transparent md:text-red-600 md:p-0
}

.nuxt-link {
  @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-red-600 md:p-0
}
</style>
