<template>
  <div class="flex flex-row justify-between">
    <div class="flex items-center">
      <span class="mr-3">Items per page: </span>

      <div>
        <select v-model="options.itemsPerPage">
          <option value="20">
            20
          </option>
          <option value="50">
            50
          </option>
        </select>
      </div>
    </div>

    <div class="flex items-center space-x-2">
      <button class="btn secondary-outline disabled" @click="decrementPage">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
        </svg>
      </button>

      <div class="flex mx-[15px] white-space-nowrap pagination-page-number">
        <span>Page <strong>{{ options.currentPage }}</strong> of {{ options.totalPages }}</span>
      </div>

      <button class="btn secondary-outline" @click="incrementPage">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PaginationHandler',

  props: {
    value: { type: Object, required: true }
  },

  data () {
    return {
      options: this.value || {
        currentPage: 1,
        itemsPerPage: 20,
        totalPages: undefined
      }
    }
  },

  watch: {
    value (val) {
      this.options = val || {
        currentPage: 1,
        itemsPerPage: 20,
        totalPages: undefined
      }
    },

    options (val) {
      this.$emit('input', val)
    }
  },

  methods: {
    incrementPage () {
      if (this.options.currentPage + 1 <= this.options.totalPages) {
        this.options.currentPage++
      }
    },

    decrementPage () {
      if (this.options.currentPage - 1 > 0) {
        this.options.currentPage--
      }
    }
  }
}
</script>
