<template>
  <div>
    <label v-if="label" class="block text-gray-700 text-sm font-bold mb-2" :for="id">
      {{ label }}
    </label>

    <div class="inline-block relative">
      <select :id="id" v-model="inputData" :multiple="multiple" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option v-for="(item) in items" :key="item[itemKey] || item" :value="item">
          {{ item[itemText] || item }}
        </option>
      </select>

      <div v-if="!multiple" class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
      </div>
    </div>

    <span v-if="errorMsg" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
      {{ errorMsg }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'Select',

  props: {
    value: {},
    label: { type: String, default: '' },
    id: {
      type: String,
      default () {
        return this.label.toLowerCase()
      }
    },
    items: { type: Array, default: () => [] },
    itemKey: { type: String, default: 'id' },
    itemText: { type: String, default: 'text' },
    multiple: { type: Boolean, default: false },
    rules: { type: Array, default: () => [] }
  },

  data () {
    return {
      inputData: this.value,
      errorMsg: '',
      isValid: this.rules.length === 0
    }
  },

  watch: {
    value (val) {
      this.inputData = val
    },

    inputData (val) {
      this.$emit('input', val)
      this.isValid = this.validate()
    },

    isValid: {
      immediate: true,
      handler (val) {
        this.$emit('valid', val)
      }
    }
  },

  methods: {
    validate () {
      for (let i = 0; i < this.rules.length; i++) {
        const rule = this.rules[i]
        const validationResult = rule(this.inputData)

        if (typeof validationResult === 'string') {
          this.errorMsg = validationResult
          return false
        } else {
          this.errorMsg = ''
        }
      }

      return true
    }
  }
}
</script>

<style scoped>

</style>
