<template>
  <div class="border border-black-300 shadow rounded-md p-4 max-w-sm w-full mx-auto">
    <div class="animate-pulse flex space-x-4">
      <div class="rounded-full bg-red-100 h-10 w-10" />
      <div class="flex-1 space-y-6 py-1">
        <div class="h-2 bg-red-100 rounded" />
        <div class="space-y-3">
          <div class="grid grid-cols-3 gap-4">
            <div class="h-2 bg-red-100 rounded col-span-2" />
            <div class="h-2 bg-red-100 rounded col-span-1" />
          </div>
          <div class="h-2 bg-red-100 rounded" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SkeletonCard'
}
</script>
