<template>
  <div class="max-w-sm rounded overflow-hidden shadow-lg h-72 flex flex-col justify-between">
    <div class="flex flex-col px-6 py-4">
      <div class="flex flex-row justify-between items-center">
        <nuxt-link :to="`/dashboard/tours/${tour.id}`" class="font-bold text-xl mb-2 underline">
          {{ tour.name }}
        </nuxt-link>

        <button @click="$router.push(`/dashboard/tours/${tour.id}/edit`)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
          </svg>
        </button>
      </div>

      <nuxt-link :to="`/dashboard/travels/${tour.travel.id}`" class="font-light text-sm mb-2 underline">
        #{{ tour.travel.slug }}
      </nuxt-link>

      <div class="flex flex-col space-y-2text-gray-700 text-base mt-3">
        <div class="flex flex-row space-x-2">
          <p class="italic">
            Starting date:
          </p> <strong>{{ tour.startingDate | formatDate }}</strong>
        </div>

        <div class="flex flex-row space-x-2">
          <p class="italic">
            Ending date:
          </p><strong>{{ tour.endingDate | formatDate }}</strong>
        </div>
      </div>
    </div>

    <div class="flex flex-row border-t border-gray-100 px-6 pt-4 pb-2 justify-between items-center">
      <div class="flex flex-row space-x-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>

        <p>{{ tour.travel.numberOfDays }} days</p>
      </div>

      <p class="font-bold text-red-600 text-2xl">
        {{ tour.price | formatCurrency }}
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TourCard',

  props: {
    tour: { type: Object, required: true }
  },

  data () {
    return {
      loading: false
    }
  },

  computed: {
    ...mapGetters({
      hasRole: 'auth/hasRole'
    })
  }
}
</script>
