<template>
  <div class="flex flex-col space-y-5">
    <div class="flex flex-row space-x-12">
      <div class="flex flex-row">
        <input-field v-model="filters.price.value" class="w-full" label="Price" type="number">
          <template #prefix>
            <Select v-model="filters.price.operator" class="w-24 mr-2" :items="priceOperators" item-key="value" />
          </template>
        </input-field>
      </div>

      <input-field v-model="filters.startingDate" class="w-2/6" label="Starting date" type="date" />
      <input-field v-model="filters.endingDate" class="w-2/6" label="Ending date" type="date" />
    </div>

    <pagination-handler v-model="paginationOptions" />

    <div v-if="!loading && tours.length > 0" class="grid grid-cols-4 gap-4">
      <TourCard v-for="tour in tours" :key="tour.id" :tour="tour" />
    </div>

    <div v-if="!loading && tours.length === 0" class="flex flex-row justify-center">
      <img class="h-1/4 w-1/4" src="~/static/no_data.svg" alt="nodata-image">
    </div>

    <div v-if="loading" class="grid grid-cols-4 gap-4">
      <SkeletonCard v-for="(i) in 20" :key="i" />
    </div>

    <pagination-handler v-model="paginationOptions" />
  </div>
</template>

<script>
export default {
  name: 'ToursTable',

  props: {
    travelSlug: { type: String, required: true }
  },

  data () {
    return {
      loading: false,
      tours: [],
      priceOperators: [
        { text: '<', value: '$lt' },
        { text: '>', value: '$gt' },
        { text: '<=', value: '$lte' },
        { text: '>=', value: '$gte' }
      ],
      filters: {
        price: {
          operator: { text: '<', value: '$lt' }
        }
      },
      paginationOptions: {
        itemsPerPage: 20,
        currentPage: 1,
        totalPages: -1
      }
    }
  },

  watch: {
    filters: {
      deep: true,
      handler () {
        this.fetchTours()
      }
    },

    'paginationOptions.itemsPerPage': {
      handler () {
        this.fetchTours()
      }
    },

    'paginationOptions.currentPage': {
      handler () {
        this.fetchTours()
      }
    }
  },

  created () {
    this.fetchTours()
  },

  methods: {
    async fetchTours () {
      try {
        this.loading = true

        const filterParams = []

        if (this.filters.price && this.filters.price.value) {
          filterParams.push(`filter.price=${this.filters.price.operator.value}:${this.filters.price.value * 100}`)
        }

        if (this.filters.startingDate) {
          filterParams.push(`filter.startingDate=$eq:${this.filters.startingDate}`)
        }

        if (this.filters.endingDate) {
          filterParams.push(`filter.endingDate=$eq:${this.filters.endingDate}`)
        }

        const urlParams = [
          `limit=${this.paginationOptions.itemsPerPage}`,
          `page=${this.paginationOptions.currentPage}`,
          filterParams.join('&')
        ].join('&')

        const { data, meta: { totalPages } } = await this.$axios.$get(`/travels/${this.travelSlug}/tours?${urlParams}`)

        this.tours = data
        this.$set(this.paginationOptions, 'totalPages', totalPages)

        this.loading = false
      } catch (e) {
        this.$nuxt.error(e)
      }
    }
  }
}
</script>
