<template>
  <form>
    <div class="flex space-y-3 flex-col">
      <input-field v-model="tour.name" label="Name" :rules="$rules.basicRules" @valid="$set(validation, 'name', $event)" />
      <input-field v-model="tour.startingDate" label="Starting date" type="date" :rules="$rules.basicRules" @valid="$set(validation, 'startingDate', $event)" />
      <input-field v-model="tour.endingDate" label="Ending date" type="date" :rules="$rules.basicRules" @valid="$set(validation, 'endingDate', $event)" />
      <input-field
        :value="tour.price / 100"
        type="number"
        :rules="$rules.basicRules"
        label="Price (€)"
        @input="tour.price = $event * 100"
        @valid="$set(validation, 'price', $event)"
      />
    </div>
  </form>
</template>

<script>
export default {
  name: 'TourForm',

  props: {
    value: { type: Object, required: true }
  },

  data () {
    return {
      tour: this.value || { name: '', startingDate: '', endingDate: '', price: null },
      validation: {}
    }
  },

  computed: {
    isValid () {
      return Object.values(this.validation).every(el => el === true)
    }
  },

  watch: {
    value (val) {
      this.tour = val || { name: '', startingDate: '', endingDate: '', price: null }
    },

    tour: {
      deep: true,
      handler (val) {
        this.$emit('input', val)
      }
    },

    isValid: {
      immediate: true,
      handler (val) {
        this.$emit('isValid', val)
      }
    }
  }
}
</script>
