<template>
  <div class="max-w-sm rounded overflow-hidden shadow-lg h-72 flex flex-col justify-between">
    <div class="px-6 py-4">
      <nuxt-link :to="`/dashboard/travels/${travel.id}`" class="font-bold text-xl mb-2 underline">
        {{ travel.name }}
      </nuxt-link>

      <p class="text-gray-700 text-base mt-3">
        {{ travel.description | truncate(200) }}
      </p>
    </div>

    <div class="border-t border-gray-100 px-6 pt-4 pb-2 flex space-x-4">
      <Button v-if="hasRole('admin')" class="outlined-primary-btn" text="Delete" :loading="loading" @onClick="deleteTravel" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TravelCard',

  props: {
    travel: { type: Object, required: true }
  },

  data () {
    return {
      loading: false
    }
  },

  computed: {
    ...mapGetters({
      hasRole: 'auth/hasRole'
    })
  },

  methods: {
    deleteTravel () {
      if (confirm(`Are you sure to delete "${this.travel.name}" travel?`)) {
        this.loading = true

        this.$axios.$delete(`/travels/${this.travel.id}`)
          .then(() => this.$emit('onDeleteCompleted'))
          .catch(e => this.$nuxt.error(e))
      }
    }
  }
}
</script>
