<template>
  <form>
    <div class="flex space-y-3 flex-col">
      <input-field v-model="travel.isPublic" class="mb-2" type="checkbox" label="Public" @valid="$set(validation, 'isPublic', $event)" />
      <input-field v-model="travel.name" label="Name" :rules="$rules.basicRules" @valid="$set(validation, 'name', $event)" />
      <input-field v-model="travel.slug" label="Slug" :rules="$rules.basicRules" @valid="$set(validation, 'slug', $event)" />
      <input-field v-model="travel.description" type="textarea" :rules="$rules.basicRules" label="Description" @valid="$set(validation, 'description', $event)" />
      <input-field v-model="travel.numberOfDays" type="number" :rules="$rules.basicRules" label="Number of days" @valid="$set(validation, 'numberOfDays', $event)" />
      <moods-selector v-model="travel.moods" @valid="$set(validation, 'moods', $event)" />
    </div>
  </form>
</template>

<script>
export default {
  name: 'TravelForm',

  props: {
    value: { type: Object, required: true }
  },

  data () {
    return {
      travel: this.value || { isPublic: false, name: '', slug: '', description: '', numberOfDays: null, moods: [] },
      validation: {}
    }
  },

  computed: {
    isValid () {
      return Object.values(this.validation).every(el => el === true)
    }
  },

  watch: {
    value: {
      immediate: true,
      handler (val) {
        this.travel = val || { isPublic: false, name: '', slug: '', description: '', numberOfDays: null, moods: [] }
        this.validation = Object.keys(this.travel).reduce((obj, curr) => ({ ...obj, [curr]: false }), {})
      }
    },

    travel: {
      deep: true,
      handler (val) {
        this.$emit('input', val)
      }
    },

    isValid (val) {
      this.$emit('isValid', val)
    }
  }
}
</script>
