<template>
  <div class="flex flex-col space-y-4">
    <div class="flex flex-row border-b border-gray-100 w-full pb-5">
      <button type="button" @click="$router.back()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
      </button>

      <p class="font-bold ml-4 text-xl">
        Edit tour
      </p>
    </div>

    <Alert v-if="errorMsg" class="mb-7" type="danger" :message="errorMsg" />

    <tour-form v-model="tour" @isValid="validForm = $event" />

    <Button class="primary-btn" text="Save" :loading="loading" :disabled="!validForm" @onClick="edit" />
  </div>
</template>

<script>
export default {
  layout: 'dashboard',

  async asyncData ({ params, error, $axios }) {
    const tour = await $axios.$get(`/tours/${params.id}`)

    if (!tour) {
      error({ statusCode: 404, message: 'Tour not found' })
    }

    return {
      tour
    }
  },

  data () {
    return {
      loading: false,
      validForm: false,
      errorMsg: ''
    }
  },

  methods: {
    async edit () {
      this.loading = true
      this.errorMsg = ''

      try {
        this.tour.travelId = this.tour.travel.id

        await this.$axios.$put(`/tours/${this.tour.id}`, this.tour)
        this.$router.push('/dashboard/tours')
      } catch ({ response }) {
        this.errorMsg = response.data.message
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
