<template>
  <div class="flex flex-col space-y-4 justify-center">
    <div class="flex flex-row border-b border-gray-100 pb-5 justify-between">
      <div class="flex flex-row space-x-5 items-center">
        <button type="button" @click="$router.back()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
        </button>

        <p class="font-bold ml-4 text-xl">
          {{ tour.name }}
        </p>

        <p class="font-light italic">
          #{{ tour.travel.slug }}
        </p>
      </div>

      <div class="flex flex-row space-x-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>

        <p>{{ tour.travel.numberOfDays }} days • {{ tour.travel.numberOfNights }} nights</p>
      </div>
    </div>

    <moods-viewer :moods="tour.travel.moods" />

    <p class="whitespace-pre-wrap">
      {{ tour.travel.description }}
    </p>

    <div class="flex flex-col">
      <div class="flex flex-row space-x-2 justify-end">
        <p class="italic">
          Starting date:
        </p> <strong>{{ tour.startingDate | formatDate }}</strong>
      </div>

      <div class="flex flex-row space-x-2 justify-end">
        <p class="italic">
          Ending date:
        </p><strong>{{ tour.endingDate | formatDate }}</strong>
      </div>

      <div class="flex flex-row justify-end my-2">
        <p class="border-t border-gray-200 pt-1 font-bold text-red-600 text-2xl">
          {{ tour.price | formatCurrency }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'dashboard',

  async asyncData ({ params, error, $axios }) {
    const tour = await $axios.$get(`/tours/${params.id}`)

    if (!tour) {
      error({ statusCode: 404, message: 'Tour not found' })
    }

    return {
      tour
    }
  }
}
</script>
