<template>
  <div class="flex items-top justify-center min-h-screen bg-gray-100 sm:items-center sm:pt-0">
    <div class="w-1/4">
      <Logo class="mb-5 mx-auto" />
      <LoginForm />
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['unauth']
}
</script>
