<template>
  <div class="flex flex-col space-y-5">
    <pagination-handler v-model="paginationOptions" />

    <div v-if="!loading" class="grid grid-cols-4 gap-4">
      <TourCard v-for="tour in tours" :key="tour.id" :tour="tour" />
    </div>

    <div v-else class="grid grid-cols-4 gap-4">
      <SkeletonCard v-for="(i) in 20" :key="i" />
    </div>

    <pagination-handler v-model="paginationOptions" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'dashboard',

  async asyncData ({ $axios, error }) {
    try {
      const { data, meta: { itemsPerPage, currentPage, totalPages } } = await $axios.$get('/tours')

      return {
        tours: data,
        paginationOptions: {
          itemsPerPage,
          currentPage,
          totalPages
        }
      }
    } catch (e) {
      error(e)
    }
  },

  data () {
    return {
      loading: false
    }
  },

  computed: {
    ...mapGetters({
      hasRole: 'auth/hasRole'
    })
  },

  watch: {
    'paginationOptions.itemsPerPage': {
      handler () {
        this.fetchTours()
      }
    },

    'paginationOptions.currentPage': {
      handler () {
        this.fetchTours()
      }
    }
  },

  methods: {
    async fetchTours () {
      try {
        this.loading = true

        const urlParams = [
          `limit=${this.paginationOptions.itemsPerPage}`,
          `page=${this.paginationOptions.currentPage}`
        ].join('&')

        const { data, meta: { totalPages } } = await this.$axios.$get(`/tours?${urlParams}`)

        this.tours = data
        this.$set(this.paginationOptions, 'totalPages', totalPages)

        this.loading = false
      } catch (e) {
        this.$nuxt.error(e)
      }
    }
  }
}
</script>
