<template>
  <div class="flex flex-col space-y-4">
    <div class="flex flex-row border-b border-gray-100 pb-5 justify-between">
      <div class="flex flex-row space-x-5">
        <button type="button" @click="$router.back()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
          </svg>
        </button>

        <p class="font-bold ml-4 text-xl">
          {{ travel.name }}
        </p>

        <div
          class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 rounded-full"
          :class="{ 'bg-green-200': travel.isPublic, 'text-green-700': travel.isPublic, 'bg-red-200': !travel.isPublic, 'text-red-700': !travel.isPublic }"
        >
          {{ travel.isPublic ? 'PUBLIC' : 'NOT PUBLIC' }}
        </div>
      </div>

      <div class="flex flex-row space-x-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
        </svg>

        <p>{{ travel.numberOfDays }} days • {{ travel.numberOfNights }} nights</p>
      </div>
    </div>

    <moods-viewer :moods="travel.moods" />

    <p class="whitespace-pre-wrap">
      {{ travel.description }}
    </p>

    <div class="flex flex-row w-full border-t border-gray-300 space-x-5 items-center pt-2">
      <div class="font-bold text-2xl">
        <h2>
          Related tours
        </h2>
      </div>

      <div class="pt-3">
        <button @click="$router.push(`/dashboard/tours/new?travelId=${travel.id}`)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </button>
      </div>
    </div>

    <tours-table class="pb-12" :travel-slug="travel.slug" />
  </div>
</template>

<script>
export default {
  layout: 'dashboard',

  async asyncData ({ params, error, $axios }) {
    const travel = await $axios.$get(`/travels/${params.id}`)

    if (!travel) {
      error({ statusCode: 404, message: 'Travel not found' })
    }

    return {
      travel
    }
  }
}
</script>
