<template>
  <div class="flex flex-col space-y-5">
    <pagination-handler v-model="paginationOptions" />

    <div v-if="!loading" class="grid grid-cols-4 gap-4">
      <div v-if="hasRole('admin')" class="add-card h-72" @click="$router.push('/dashboard/travels/new')">
        <p class="text-7xl text-green-600">
          +
        </p>
      </div>

      <TravelCard v-for="(travel, index) in travels" :key="travel.id" :travel="travel" @onDeleteCompleted="$delete(travels, index)" />
    </div>

    <div v-else class="grid grid-cols-4 gap-4">
      <SkeletonCard v-for="(i) in 20" :key="i" />
    </div>

    <pagination-handler v-model="paginationOptions" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'dashboard',

  async asyncData ({ $axios, error }) {
    try {
      const { data, meta: { itemsPerPage, currentPage, totalPages } } = await $axios.$get('/travels')

      return {
        travels: data,
        paginationOptions: {
          itemsPerPage,
          currentPage,
          totalPages
        }
      }
    } catch (e) {
      error(e)
    }
  },

  data () {
    return {
      loading: false
    }
  },

  computed: {
    ...mapGetters({
      hasRole: 'auth/hasRole'
    })
  },

  watch: {
    'paginationOptions.itemsPerPage': {
      handler () {
        this.fetchTravels()
      }
    },

    'paginationOptions.currentPage': {
      handler () {
        this.fetchTravels()
      }
    }
  },

  methods: {
    async fetchTravels () {
      try {
        this.loading = true

        const urlParams = [
          `limit=${this.paginationOptions.itemsPerPage}`,
          `page=${this.paginationOptions.currentPage}`
        ].join('&')

        const { data, meta: { totalPages } } = await this.$axios.$get(`/travels?${urlParams}`)

        this.travels = data
        this.$set(this.paginationOptions, 'totalPages', totalPages)

        this.loading = false
      } catch (e) {
        this.$nuxt.error(e)
      }
    }
  }
}
</script>
