<template>
  <div class="flex flex-col space-y-4">
    <div class="flex flex-row border-b border-gray-100 w-full pb-5">
      <button type="button" @click="$router.back()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
      </button>

      <p class="font-bold ml-4 text-xl">
        New Travel
      </p>
    </div>

    <Alert v-if="errorMsg" class="mb-7" type="danger" :message="errorMsg" />

    <travel-form v-model="travel" @isValid="validForm = $event" />

    <Button class="primary-btn" text="Create" :loading="loading" :disabled="!validForm" @onClick="create" />
  </div>
</template>

<script>
export default {
  layout: 'dashboard',

  data () {
    return {
      travel: { isPublic: false, name: '', slug: '', description: '', numberOfDays: null, moods: [] },
      loading: false,
      validForm: false,
      errorMsg: ''
    }
  },

  methods: {
    async create () {
      this.loading = true
      this.errorMsg = ''

      try {
        await this.$axios.$post('/travels', this.travel)
        this.$router.push('/dashboard/travels')
      } catch ({ response }) {
        this.errorMsg = response.data.message
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
