<template>
  <div class="relative">
    <navbar />

    <main class="max-w-7xl mx-auto py-6">
      <Nuxt />
    </main>
  </div>
</template>

<script>
export default {
  middleware: 'auth'
}
</script>

<style>
.add-card {
  @apply cursor-pointer flex justify-center items-center max-w-sm rounded overflow-hidden shadow-lg border-dashed border-2
}
</style>
