<template>
  <div class="relative">
    <navbar />

    <main class="max-w-7xl mx-auto py-6">
      <div class="flex flex-col items-center">
        <img class="h-1/4 w-1/4" :src="errorImage" alt="error-image">
        <p class="mt-6 font-bold text-md w-1/4 text-center">
          {{ errorText }}
        </p>

        <NuxtLink v-if="pageNotFound" class="text-red-600 font-medium" to="/dashboard">
          Go back home
        </NuxtLink>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  props: {
    error: { type: Object, default: null }
  },

  computed: {
    pageNotFound () {
      return this.error.statusCode === 404
    },

    authError () {
      return this.error.statusCode === 401 || this.error.statusCode === 403
    },

    errorImage () {
      if (this.pageNotFound) { return require('~/static/not_found.svg') }
      if (this.authError) { return require('~/static/secure.svg') }

      return require('~/static/server_down.svg')
    },

    errorText () {
      if (this.pageNotFound) { return 'Oops, looks like you lost yourself' }
      if (this.authError) { return 'Oops, looks like we do not know you' }

      return 'Oops, that\'s our bad we\'ll resolve ASAP'
    }
  }
}
</script>
